{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposit</title>
    <link rel="stylesheet" href="{% static 'css/bc.css' %}">
    <link rel="stylesheet" href="{% static 'css/deposit-coin.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="sign">
        <header class="header">
            <nav class="navbar">
                <a href="{% url 'index' %}" class="nav-logo"><h1>BULLCITY</h1></a>
            <ul class="nav-menu nav-menu2">
                {% if user.is_authenticated  %}
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="https://t.me/bullcitysupport" class="nav-link">Support</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="https://t.me/bullcitysupport" class="nav-link">Support</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'signup' %}" class="nav-link">Sign-Up</a>
                </li>
                {% endif %}
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        </header>

        <div class="container">
            <div class="qr-wrap">
                <div><img src="{% static 'img\QR-usdt.png' %}"></div>
                <div><input type="text" value="0x35a47cf3b9a41549613602a2d849e59eb737eece" id="myInput"></div>
                <div><p onclick="myFunction()" class="copy1">copy</p></div>
                <a class="buy" href="https://www.moonpay.com/buy/usdt">Buy</a>
                <div><p>Send only <b>Tether(USDT)</b> to this address</p><p>Sending any other coin may result to permanent loss.</p></div>
            </div>
        </div>

    </section>

    <footer>
        <div class="partners">
            <img src="{% static 'img/Trust_Wallet_Blue.png' %}" alt="trust wallet">
            <img src="{% static 'img/benq.png' %}" alt="benq">
            <img src="{% static 'img/opensea.png' %}" alt="opensea">
            <img src="{% static 'img/Exodus.png' %}" alt="exodus">
        </div>
        <div class="logo"><a href="{% url 'index' %}"><h1>BULLCITY</h1></a></div>
           <div class="icons">
                <a href="#"><img src="{% static 'img/discord.png' %}" alt="discord"></a>
                <a href="#"><img src="{% static 'img/Free_Twitter_3D_Illustration_download_in_PNG__OBJ_or_Blend_format-removebg-preview.png' %}" alt="twitter"></a>
                <a href="https://t.me/bullcitysupport"><img src="{% static 'img/telegram.png' %}" alt="telegram"></a>
           </div>
        <div class="copy"> <p>Copyright 2021 BULLCITY. All Rights Reserved</p></div>
    </footer>
    
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>